/* partners page */

.partners {
    margin-top: 8rem;
    margin-left: 3rem;
    margin-right: 3rem;
    background: white;
    padding-left: 3rem;
    padding-top: .5rem;
    padding-bottom: 2rem;
}

.community {
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    background: white;
    padding-left: 3rem;
    padding-top: .5rem;
    padding-bottom: 2rem;
}

/* community partners grid */

.community-grid-container {
    margin-top: 3rem;
    margin-right: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem 1rem;
    grid-template-areas:
      "columbus-city-council ccad create-columbus-commision experience-columbus franklin-county-emergency-mgmt"
      "franklin-county-workforce GCAC human-service-chamber innovate-ohio mid-ohio-food"
      "morpc ohio-arts-council ohio-hospital-association one-columbus reeb-avenue-center"
      "smart-columbus the-columbus-foundation osu-engineering osu-nursing osu-public-health"
      "wells-foundation . . . .";
  }
  
.columbus-city-council { 
    grid-area: columbus-city-council;
    text-align: center;
    border: black solid 1px;
}
  
.ccad {
    grid-area: ccad; 
    text-align: center;
    border: black solid 1px;
}
  
.create-columbus-commision { 
    grid-area: create-columbus-commision; 
    text-align: center;
    border: black solid 1px;
}
  
.experience-columbus { 
    grid-area: experience-columbus; 
    text-align: center;
    border: black solid 1px;
}
  
.franklin-county-emergency-mgmt { 
    grid-area: franklin-county-emergency-mgmt; 
    text-align: center;
    border: black solid 1px;
}
  
.franklin-county-workforce { 
    grid-area: franklin-county-workforce; 
    text-align: center;
    border: black solid 1px;
}
  
.GCAC { 
    grid-area: GCAC; 
    text-align: center;
    border: black solid 1px;
}
  
.human-service-chamber { 
    grid-area: human-service-chamber; 
    text-align: center;
    border: black solid 1px;
}
  
.innovate-ohio { 
    grid-area: innovate-ohio; 
    text-align: center;
    border: black solid 1px;
}
  
.mid-ohio-food { 
    grid-area: mid-ohio-food;
    text-align: center;
    border: black solid 1px;
}
  
.morpc { 
    grid-area: morpc; 
    text-align: center;
    border: black solid 1px;
}
  
.ohio-arts-council { 
    grid-area: ohio-arts-council; 
    text-align: center;
    border: black solid 1px;
}
  
.ohio-hospital-association { 
    grid-area: ohio-hospital-association; 
    text-align: center;
    border: black solid 1px;
}
  
.one-columbus { 
    grid-area: one-columbus; 
    text-align: center;
    border: black solid 1px;
}
  
.reeb-avenue-center { 
    grid-area: reeb-avenue-center; 
    text-align: center;
    border: black solid 1px;
}
  
.smart-columbus { 
    grid-area: smart-columbus; 
    text-align: center;
    border: black solid 1px;
}
  
.the-columbus-foundation { 
    grid-area: the-columbus-foundation; 
    text-align: center;
    border: black solid 1px;
}
  
.osu-engineering { 
    grid-area: osu-engineering; 
    text-align: center;
    border: black solid 1px;
}
  
.osu-nursing { 
    grid-area: osu-nursing; 
    text-align: center;
    border: black solid 1px;
}
  
.osu-public-health { 
    grid-area: osu-public-health; 
    text-align: center;
    border: black solid 1px;
}
  
.wells-foundation { 
    grid-area: wells-foundation; 
    text-align: center;
    border: black solid 1px;
}

/* community grid container end */

.partner-img {
    width: 6rem;
    margin-top: 2rem;
}

.partner-site {
    text-decoration: none;
}

#partner-name {
    font-size: 1rem;
    
}

.partner-site:hover {
    text-decoration: underline
}

/* Angel Section */

.angels {
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    background: white;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: .5rem;
    padding-bottom: 2rem;
}

.rhove-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem 1rem;
    grid-template-areas:
      "rhove . . . .";
  }

  .rhove { 
      grid-area: rhove;
      text-align: center;
      border: solid black 1px; 
}
/* Kind-Angel section */

.kind-angel {
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    background: white;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: .5rem;
    padding-bottom: 2rem;
}

/* angel grid */

.kind-angel-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem 1rem;
    grid-template-areas:
      "airtable buckeye-interactive deluxe integromat media-temple"
      "slack zapier . . .";
  }
  
.airtable { 
    grid-area: airtable;
    text-align: center;
    border: black solid 1px;
}
  
.buckeye-interactive { 
    grid-area: buckeye-interactive; 
    text-align: center;
    border: black solid 1px;
}
  
.deluxe { 
    grid-area: deluxe; 
    text-align: center;
    border: black solid 1px;
}
  
.integromat { 
    grid-area: integromat; 
    text-align: center;
    border: black solid 1px;
}
  
.media-temple { 
    grid-area: media-temple; 
    text-align: center;
    border: black solid 1px;
}
  
.slack { 
    grid-area: slack; 
    text-align: center;
    border: black solid 1px;
}
  
.zapier { 
    grid-area: zapier; 
    text-align: center;
    border: black solid 1px;
}
  
/* angel grid end */

/* allies table */

.allies {
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    background: white;
    padding-left: 3rem;
    padding-top: .5rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
}

.allies-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem 1rem;
    grid-template-areas:
      "aftermarq amayahuman atlas-partners belle-communication business-builders"
      "chek-creative columbus-digital-service columbus-impact-academy cscc young-pros"
      "cosi cova d3 ecdi factory"
      "FU gamma givebackhack greater-columbus hack"
      "helm hmb level measurement mills"
      "modweb nxt opta ohiox oneit"
      "open paul point rave restart"
      "ricart sage-se seachange shared squire"
      "tech-community techlife osu-medical tiber unit"
      "unreal urban zoco . .";
}
  
.aftermarq { 
    grid-area: aftermarq; 
    text-align: center;
    border: black solid 1px;
}
  
.amayahuman { 
    grid-area: amayahuman; 
    text-align: center;
    border: black solid 1px;
}
  
.atlas-partners { 
    grid-area: atlas-partners; 
    text-align: center;
    border: black solid 1px;
}
  
.belle-communication { 
    grid-area: belle-communication; 
    text-align: center;
    border: black solid 1px;
}
  
.business-builders { 
    grid-area: business-builders; 
    text-align: center;
    border: black solid 1px;
}
  
.chek-creative { 
    grid-area: chek-creative; 
    text-align: center;
    border: black solid 1px;
}
  
.columbus-digital-service { 
    grid-area: columbus-digital-service;
    text-align: center;
    border: black solid 1px;
}
  
.columbus-impact-academy { 
    grid-area: columbus-impact-academy; 
    text-align: center;
    border: black solid 1px;
}
  
.cscc { 
    grid-area: cscc; 
    text-align: center;
    border: black solid 1px;
}
  
.young-pros { 
    grid-area: young-pros; 
    text-align: center;
    border: black solid 1px;
}
  
.cosi { 
    grid-area: cosi; 
    text-align: center;
    border: black solid 1px;
}
  
.cova { 
    grid-area: cova; 
    text-align: center;
    border: black solid 1px;
}
  
.d3 { 
    grid-area: d3; 
    text-align: center;
    border: black solid 1px;
}
  
.ecdi { 
    grid-area: ecdi; 
    text-align: center;
    border: black solid 1px;
}
  
.factory { 
    grid-area: factory; 
    text-align: center;
    border: black solid 1px;
}
  
.FU { 
    grid-area: FU; 
    text-align: center;
    border: black solid 1px;
}
  
.gamma { 
    grid-area: gamma; 
    text-align: center;
    border: black solid 1px;
}
  
.givebackhack { 
    grid-area: givebackhack; 
    text-align: center;
    border: black solid 1px;
}
  
.greater-columbus { 
    grid-area: greater-columbus; 
    text-align: center;
    border: black solid 1px;
}
  
.hack { 
    grid-area: hack; 
    text-align: center;
    border: black solid 1px;
}
  
.helm { 
    grid-area: helm; 
    text-align: center;
    border: black solid 1px;
}
  
.hmb { 
    grid-area: hmb; 
    text-align: center;
    border: black solid 1px;
}
  
.level { 
    grid-area: level; 
    text-align: center;
    border: black solid 1px;
}
  
.measurement { 
    grid-area: measurement; 
    text-align: center;
    border: black solid 1px;
}
  
.mills { 
    grid-area: mills; 
    text-align: center;
    border: black solid 1px;
}
  
.modweb { 
    grid-area: modweb; 
    text-align: center;
    border: black solid 1px;
}
  
.nxt { 
    grid-area: nxt; 
    text-align: center;
    border: black solid 1px;
}
  
.opta { 
    grid-area: opta; 
    text-align: center;
    border: black solid 1px;
}
  
.ohiox { 
    grid-area: ohiox; 
    text-align: center;
    border: black solid 1px;
}
  
.oneit { 
    grid-area: oneit; 
    text-align: center;
    border: black solid 1px;
}
  
.open { 
    grid-area: open; 
    text-align: center;
    border: black solid 1px;
}
  
.paul { 
    grid-area: paul; 
    text-align: center;
    border: black solid 1px;
}
  
.point { 
    grid-area: point; 
    text-align: center;
    border: black solid 1px;
}

.rave { 
    grid-area: rave; 
    text-align: center;
    border: black solid 1px;
}
  
.restart { 
    grid-area: restart; 
    text-align: center;
    border: black solid 1px;
}
  
.ricart { 
    grid-area: ricart; 
    text-align: center;
    border: black solid 1px;
}
  
.sage-se { 
    grid-area: sage-se; 
    text-align: center;
    border: black solid 1px;
}
  
.seachange { 
    grid-area: seachange; 
    text-align: center;
    border: black solid 1px;
}
  
.shared { 
    grid-area: shared; 
    text-align: center;
    border: black solid 1px;
}
  
.squire { 
    grid-area: squire; 
    text-align: center;
    border: black solid 1px;
}
  
.tech-community { 
    grid-area: tech-community; 
    text-align: center;
    border: black solid 1px;
}

  
.techlife { 
    grid-area: techlife; 
    text-align: center;
    border: black solid 1px;
}
  
.osu-medical { 
    grid-area: osu-medical; 
    text-align: center;
    border: black solid 1px;
}
  
.tiber { 
    grid-area: tiber; 
    text-align: center;
    border: black solid 1px;
}
  
.unit { 
    grid-area: unit; 
    text-align: center;
    border: black solid 1px;
}
  
.unreal { 
    grid-area: unreal; 
    text-align: center;
    border: black solid 1px;
}
  
.urban { 
    grid-area: urban; 
    text-align: center;
    border: black solid 1px;
}
  
.zoco { 
    grid-area: zoco; 
    text-align: center;
    border: black solid 1px;
}

/* pro-partners section */

.pro-partners {
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    background: white;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: .5rem;
    padding-bottom: 2rem;
}

.pro-partner-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem 1rem;;
    grid-template-areas:
      "blue ic3d improving nationwide slalom"
      "test-double . . . .";
}
  
.blue { 
    grid-area: blue; 
    text-align: center;
    border: black solid 1px;
}
  
.ic3d { 
    grid-area: ic3d; 
    text-align: center;
    border: black solid 1px;
}
  
.improving { 
    grid-area: improving; 
    text-align: center;
    border: black solid 1px;
}
  
.nationwide { 
    grid-area: nationwide; 
    text-align: center;
    border: black solid 1px;
}
  
.slalom { 
    grid-area: slalom; 
    text-align: center;
    border: black solid 1px;
}
  
.test-double { 
    grid-area: test-double; 
    text-align: center;
    border: black solid 1px;
}